html,
body {
  margin: 0;
  padding: 0;
}

:root {
  --color-body-text: #313131;
  --color-bg: #FDFCFC;
}

:root {
  --font-size-heading-1: 3.6rem;
  --font-size-heading-2: 1.8rem;
  --font-size-heading-3: 1.5rem;
  --font-size-heading-4: 1.25rem;
  --font-size-heading-5: 1.125rem;
  --font-size-heading-6: 1.125rem;
  --font-size-body-larger: 1.375rem;
  --font-size-body-large: 1.25rem;
  --font-size-body-medium: 1.125rem;
  --font-size-body: 1rem;
  --font-size-body-small: .9375rem;
  --font-size-body-smaller: .875rem;
  --font-size-body-smallest: .8125rem;
  --font-size-body-tiny: .75rem;
  --font-size-button-small: .8125rem;
  --font-size-button-medium: .875rem;
  --font-size-button-large: 1.0625rem;
  --font-size-button-x-large: 1.1875rem;
  --font-size-menu-large: 1.0625rem;
  --font-size-menu: 1rem;
  --font-size-input: 1rem;
}

canvas {
  /* outline: 1px solid pink; */
}

main {
  height: 100vh;
  width: 60vw;
  background: var(--color-body-text);
  display: flex;
  justify-content: center;
  align-items: center;
  scale: clamp(0.6, 1, 1.2);
}

body {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  height: 100vh;
  width: 100vw;
  min-width: 50vw;
  font-size: var(--font-size-body);
}

h2 {
  font-size: var(--font-size-heading-1);
  line-height: 88%;
  font-weight: 400;
  letter-spacing: 0.01em;
  margin-bottom: 1rem;
}

h3 {
  font-size: var(--font-size-heading-2);
  line-height: 100%;
  font-weight: 400;
  padding-top: 0px;
  margin-top: 1em;
}

h4 {
  font-size: var(--font-size-body-larger);
  font-weight: 600;
  margin: none;
}

h5 {
  font-size: var(--font-size-body-medium);
  line-height: 130%;
  font-weight: 400;
  font-optical-sizing: 16;
}

@font-face {
  font-family: Apfel-Mittel;
  src: url(web/ApfelGrotezk-Mittel.woff2);
}

.apfel-medium {
  font-family: Apfel-Mittel;
  font-optical-sizing: auto;
  font-style: normal;
}

.controls {
  width: 30vw;
  gap: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  font-family: Apfel-Mittel;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 600;
}



.instructions {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 5rem;
  height: 100vh;
  width: 40vw;
  gap: 4em;
  color: var(--color-body-text);
  background: var(--color-bg);
}


.onlyText {
  display: flex;
  flex-direction: column;
  width: 75%;
}

.sliderSection {
  display: flex;
  flex-direction: column;
  width: 80%;
}

.slider {
  height: var(--font-size-button-medium);
  appearance: none;
  border: 1px solid;
  border-color: var(--color-body-text);
}

.slider::-webkit-slider-thumb {
  appearance: none;
  background: #313131;
  width: var(--font-size-body-tiny);
  height: var(--font-size-body-larger);
  cursor: pointer;
}

.slider::-webkit-slider-thumb:hover {
  background-color: #3f3c3e;
  transition-duration: 0.5s;
}